<h2 class="py-2">Register</h2>
<div class="w-75 mx-auto">
   <div *ngIf="errorMessage" class="alert alert-danger">{{errorMessage}}</div>
   <form (ngSubmit)="submitRegisterForm(registerForm)"  [formGroup]="registerForm">
    <label for="first_name">First Name :</label>
    <input formControlName="first_name" class="form-control mb-2"/>
    <div *ngIf="registerForm.get('first_name')?.errors && registerForm.get('first_name')?.touched">
      <p *ngIf="registerForm.get('first_name')?.getError('required')" class="alert py-1 alert-danger">this field is required</p>     
      <p *ngIf="registerForm.get('first_name')?.getError('minLength')" class="alert py-1 alert-danger">name must has min 3 letters</p> 
      <p *ngIf="registerForm.get('first_name')?.getError('maxLength')" class="alert py-1 alert-danger">name must has max 10 letters </p> 
         </div>
     
      <label for="last_name">last Name :</label>
      <input formControlName="last_name" class="form-control mb-2"/>
      <div *ngIf="registerForm.get('last_name')?.errors && registerForm.get('last_name')?.touched">
        <p *ngIf="registerForm.get('last_name')?.getError('required')" class="alert py-1 alert-danger">this field is required</p>     
        <p *ngIf="registerForm.get('last_name')?.getError('minLength')" class="alert py-1 alert-danger">name must has min 3 letters</p> 
        <p *ngIf="registerForm.get('last_name')?.getError('maxLength')" class="alert py-1 alert-danger">name must has max 10 letters </p> 
        </div>
        <label for="age">age :</label>
        <input type="number" formControlName="age" class="form-control mb-2"/>
        <div *ngIf="registerForm.get('age')?.errors && registerForm.get('age')?.touched">
          <p *ngIf="registerForm.get('age')?.getError('required')" class="alert py-1 alert-danger">this field is required</p>     
          <p *ngIf="registerForm.get('age')?.getError('min')" class="alert py-1 alert-danger">age must be 13 to 100</p> 
          <p *ngIf="registerForm.get('age')?.getError('max')" class="alert py-1 alert-danger">age must be 13 to 100</p> 
        </div>   
        <label for="email">email :</label>
        <input type="email" formControlName="email" class="form-control mb-2"/>
        <div *ngIf="registerForm.get('email')?.errors && registerForm.get('email')?.touched">
          <p *ngIf="registerForm.get('email')?.getError('required')" class="alert py-1 alert-danger">this field is required</p>     
          <p *ngIf="registerForm.get('email')?.getError('min')" class="alert py-1 alert-danger">invalid format</p> 
          </div>
        
          <label for="password">password :</label>
         <input type="password" formControlName="password" class="form-control mb-2"/>
          <div *ngIf="registerForm.get('password')?.errors && registerForm.get('password')?.touched">
          <p *ngIf="registerForm.get('password')?.getError('required')" class="alert py-1 alert-danger">this field is required</p>     
          <p *ngIf="registerForm.get('password')?.getError('pattern')" class="alert py-1 alert-danger">password must has 3 to 8 letters</p> 
         </div>
       <button [disabled]="registerForm.invalid" class="btn btn-info">
        <span *ngIf="isLoading"><i class="fas fa-spinner fa-spin"></i></span>
        <span *ngIf="!isLoading">Register</span>
       </button>

  </form>


</div>
